<ul>
  <li>Hormones</li>
  <li>Blood Profile</li>
  <li>Muscle mass percentage</li>
  <li>Fat percentage</li>
  <li>Sleep metrics</li>
  <li>Workout metrics</li>
  <li>Heart metrics</li>
</ul>
<p>E.g. Oura, Whoop, Smart scales, Thriva</p>
