<h2>Aware Agency</h2>
<div class="overall-percentage">Overall: <span id="overallPercentage">0</span>%</div>
<div class="diamond-container">
  <div class="diamond-square" data-tab="flow">
    <span class="square-title">Flow</span>
    <span class="square-percentage">0%</span>
  </div>
  <div class="diamond-square" data-tab="build">
    <span class="square-title">Build</span>
    <span class="square-percentage">0%</span>
  </div>
  <div class="diamond-square" data-tab="become">
    <span class="square-title">Become</span>
    <span class="square-percentage">0%</span>
  </div>
  <div class="diamond-square" data-tab="be">
    <span class="square-title">Be</span>
    <span class="square-percentage">0%</span>
  </div>
</div>

<div id="context-section" class="context-section">
  <h2>Context</h2>
  <p>
    Our approach is rooted in the <a href="/toe">Theory of Everything</a>, which posits that there are four fundamental substrates with complex interplay, dynamics, and truths. To navigate this complexity, we employ four frames that help us maintain a holistic and integrated perspective with awareness and agency:
  </p>
  <ul>
    <li><strong>Become:</strong> A Consciousness evolution frame</li>
    <li><strong>Be:</strong> A Consciousness Observation frame</li>
    <li><strong>Flow:</strong> An Energy-first and impact frame</li>
    <li><strong>Build:</strong> An Information and Systems frame</li>
  </ul>
  <p>
    These frames enable us to run a comprehensive and integrated perspective, fostering awareness and agency in our approach to understanding and interacting with the world around us.
  </p>
</div>
<%= image_tag 'CEIM.png', alt: 'CEIM Diagram', class: 'ceim-image' %>
