<ul>
  <li>Mendi</li>
  <li>Whoop</li>
  <li>Oura</li>
  <li>Smart scales</li>
  <li>Grounding mat</li>
  <li>Gym membership</li>
  <li>Joov redlight</li>
  <li>Oxygen/Co2 training</li>
  <li>Thriva</li>
  <li>Biowell</li>
  <li>Hyperbaric</li>
  <li>Sauna</li>
  <li>Cold plunge</li>
  <li>Sensory deprivation</li>
  <li>Bitcoin (storage/exchange)</li>
  <li>Starlink internet</li>
  <li>Solar panels</li>
  <li>Energy storage</li>
  <li>Nuclear fission</li>
  <li>Nuclear fusion</li>
</ul>
