<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Tech Stack</title>
    <style>
        body {
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Personal Tech Stack</h1>
    <ul>
        <li>Whoop</li>
        <li>Food -> auto purchasing</li>
        <li>Bitcoin -> bitcoin storage (cold card)</li>
        <li>Purchasing -> curve + Monzo pots + bracelet</li>
        <li>Laptop</li>
        <li>Starlink</li>
        <li>Biowell</li>
    </ul>
</body>
</html>